<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297736078876-tumun1760thrbamjjph02ashtg1e62bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297736078876-tumun1760thrbamjjph02ashtg1e62bi</string>
	<key>API_KEY</key>
	<string>AIzaSyDY2IpzpjJmdTnPPycUNj4nFOEWHCJzg_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>297736078876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niTrades</string>
	<key>PROJECT_ID</key>
	<string>ni-trades</string>
	<key>STORAGE_BUCKET</key>
	<string>ni-trades.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297736078876:ios:718541d20464bf49ec41d9</string>
</dict>
</plist>